body 
{
	background-color: rgb(156, 171, 177);
}
#container
{
	text-align: center;
	padding : 5px;
}

#ourScore
{
	display: inline-block; 
	//float: left;
	width: 50%;
}

#compScore
{
	display: inline-block; 
	//float: right;
	width: 50%;
}